
.azeret-mono-normal{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
/*shared styles*/
.dark{
    color: #0D1321;

}
.total{
    margin: 79px 150px 87px 150px;
}

.btn-link{
    color: white;
    text-decoration: none;
}
/*nav styles*/
.item1{
    font-size: 28px;
    font-weight: 800;
}
nav ul {
    display: flex;
    justify-content: space-between;
}
nav ul li{
    list-style: none;
}
nav li a{
    text-decoration: none;
}
.btn-primary{
    background-color: white;
    border-radius: 6px;
    border-color: #0D1321;
    font-size: 20px;
    font-weight:bold;
    padding: 17px 24px ;
}
/*banner styles*/
.banner{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../assets/Hero-bg.png');
    text-align: center;  
    margin-top: 131px;
    height: auto;
    width: auto;
    
}
.banner-content{

    
    
}
.banner-centre-pic{

    min-width: 241px;
    

}
.banner-intro{
    color:#0D1321;
    font-size: 58px;
font-weight: 900;
}
.banner-description{
    font-size: 16px;
    font-weight: 300;
}
.btn-contact{
    color: #FFFFFF;
    position: relative;
    top: 50%;
    background-color: #0D1321;
    border-radius: 8px;
    
}
/*why web page desgin*/
.why{
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}
.text-centre{
    text-align: center;
}
.reason{
    background-color: rgba(13,19,33, 10%);
        margin: 10px;
    padding: 80px 97px 80px 97px;
    
}
.father-why{
background-color: #FFFFFF;
margin:0px;
padding:12px;
    border-radius: 5px;  
}
.goal{
    display: flex;
    justify-content:space-between;
    background-color: #FFFFFF;
    margin: 0px;
    border-radius: 5px;
    padding:10px ;
}
.goal-theme{
    font-size: 24px;
    font-weight: 600;
}
.goal-description{
    font-size:16 ;
    font-weight: 400;
}
.goal-img{
    width: 260;
}
/*video*/
 .my-ins{
     font-size: 32px ;
     font-weight: bolder;
     color: #0D1321;
 }
.zero{
    display: block;
    
   padding: 20px;
   border-color: black;
   border-width: 2px;
   border-radius:10px ;
   background-color: #f9f9f9;
   
}
.video{
    display: block;
    padding: 90px 152px 140px 148px;

}
/*skills*/
.skill-container{
    display: flex;
    
    gap: 24px;
}
.skill{
    padding: 40px;
    box-shadow: ;
}
.s1{
    background-color: rgba(255,76,30,7%);
    border-radius: 16px;
    
}
.s2{
    background-color: rgba(0,76,232, 5%);
    border-radius: 16px;
}
.s3{
    background-color: rgba(255, 223,0, 5%);
     border-radius: 16px;
}
.learn{
    color: black;
}
/*help section*/
.help-section{
    background-image: url('../assets/handshake.jpg');
    opacity: 88%;
    background-position: center;
    text-align:center ;
    padding: 64px 48px 64px 48px;
    margin: 30px;
    border-radius: 6px;
}
.help-title{
    color: #f9f9f9;
    font-size: 32px;
    font-weight: bold;
    word-spacing: 5px;
}
.help-need{
    border-radius: 5px;
    border-color: white;
    padding: 4px 20px 4px 4px;
    background-color: #f9f9f9;
}
.btn-submit{
    border-radius: 5px;
    border-color: white;
    padding: 4px 4px 4px 4px;
    background-color: #f9f9f9;
}
/*foooter*/
footer ul {
    display: flex;
    justify-content: space-between;
    
}
footer ul li{
    list-style: none;
}