
.azeret-mono-normal{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
/*shared styles*/
.dark{
    color: #0D1321;

}
.total{
    margin: 79px 150px 87px 150px;
}
/*nav styles*/
.item1{
    font-size: 28px;
    font-weight: 800;
}
nav ul {
    display: flex;
    justify-content: space-between;
}
nav ul li{
    list-style: none;
}
nav li a{
    text-decoration: none;
}
.btn-primary{
    background-color: white;
    border-radius: 6px;
    border-color: #0D1321;
    font-size: 20px;
    font-weight:bold;
    padding: 17px 24px ;
}
/*banner styles*/
.banner{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../assets/Hero-bg.png')   
}
.banner-content{

    
    
}
.banner-centre-pic{

    min-width: 241px;
    

}
.banner-intro{
    color:#0D1321;
    font-size: 58px;
font-weight: 900;
}
.banner-description{
    font-size: 16px;
    font-weight: 300;
}
.btn-contact{
    position: relative;
    top: 50%;
    
}
/*why web page desgin*/
.why{
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}
.text-centre{
    text-align: center;
}
.reason{
    background-color: #ADC8F7;
    margin: 2px;
}
.goal{
    display: flex;
    justify-content:space-between;
    background-color: #FFFFFF;
    margin: 50px;
    border-radius: 5px;
    padding:10px ;
}
.goal-theme{
    font-size: 24px;
    font-weight: 600;
}
.goal-description{
    font-size:16 ;
    font-weight: 400;
}
.goal-img{
    width: 260;
}
/*video*/
.zero{
    display: block;
    text-align: center;
}
.video{
    display: block;


}
/*skills*/
.skill-container{
    display: flex;
    
    gap: 24px;
}
.skill{
    padding: 40px;
    box-shadow: ;
}
.s1{
    background-color: rgba(255,76,30,7%)
    
}
.s2{
    background-color: rgba(0,76,232, 5%);
}
.s3{
    background-color: rgba(255, 223,0, 5%s);
}
/*help section*/
.help-section{
    background-image: url('../assets/handshake.jpg');
    background-position: 100%;
}